@{
    ViewBag.Title = "Hesap Makinesi";
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>
        td, th {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div align="center">
        
            <h2>Hesap Makinesi</h2>@using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <th> İlk Sayi </th>
                        <td> <input type="number" step=".01" id="txtFirstNumber" name="firstNumber" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <th> İkinci Sayi </th>
                        <td> <input type="number" step=".01" id="txtLastNumber" name="secondNumber" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <th><input type="submit" name="Cal" value="Add" class="btn btn-primary" />  <input type="submit" name="Cal" value="Sub" class="btn btn-primary" /> </th>
                        <th><input type="submit" name="Cal" value="Mul" class="btn btn-primary" />  <input type="submit" name="Cal" value="Div" class="btn btn-primary" /> </th>
                    </tr>
                    <tr>
                    <tr>
                        <th>Sonuc</th>
                        <td><input type="number" id="txtNumber" name="txtNumber" class="form-control" value="@ViewBag.Result" /> </td>
                    </tr>


                </table>
            }
           

    </div>
</body>
</html>
